In [33]:
import pandas as pd

In [2]:
data = pd.read_csv('depressing.csv')

In [19]:
todel = open('notavailable.txt', 'r')

In [20]:
delarr= (todel.read())

In [22]:
delarr = delarr.split('\n')

In [25]:
data.shape

(132467, 9)

In [27]:
for forbidden in delarr:
    data.drop(data.loc[data['left_id']==forbidden].index, inplace=True)
    data.drop(data.loc[data['right_id']==forbidden].index, inplace=True)

In [24]:
data.head()

,Unnamed: 0,left_id,right_id,winner,left_lat,left_long,right_lat,right_long,category
0,1,513d7e23fdc9f0358700733a,513d7ac3fdc9f0358700693f,equal,40.744156,-73.935579,-33.526384,-70.591309,depressing
1,2,50f60c4dbeb2fed91000028d,513cb652fdc9f03587000a1e,right,45.505837,-122.583705,29.752872,-95.298844,depressing
2,3,513d9ff9fdc9f0358700887c,513cd544fdc9f03587001efc,left,33.747093,-84.289843,-33.930831,18.406321,depressing
3,12,5185cf07fdc9f03fd5000ebd,51422806fdc9f04926008700,equal,45.562421,-73.539947,40.066826,-75.183961,depressing
4,13,50f5e6fefdc9f065f0006eb2,513d6d7efdc9f0358700516c,equal,-23.631807,-46.714255,39.754777,-104.871981,depressing

In [31]:
data.shape

(64106, 9)

In [30]:
data.drop(data.loc[data['winner']=='equal'].index, inplace=True)

In [32]:
data.to_csv('depressing_data.csv', index=False)

In [39]:
type(data['left_id'].iloc[5])

str

In [40]:
len(data['winner'])

64106

In [46]:
data.columns

Index(['Unnamed: 0', 'left_id', 'right_id', 'winner', 'left_lat', 'left_long',
       'right_lat', 'right_long', 'category'],
      dtype='object')

In [44]:
for i in range(len(data['winner'])):
    if data['winner'].iloc[i] == 'left':
        data['winner'].iloc[i] = '0'
    else:
        data['winner'].iloc[i]  = '1'

/home/alphonsus/miniconda3/envs/torch/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [45]:
data.head()

,Unnamed: 0,left_id,right_id,winner,left_lat,left_long,right_lat,right_long,category
1,2.0,50f60c4dbeb2fed91000028d,513cb652fdc9f03587000a1e,1,45.505837,-122.583705,29.752872,-95.298844,depressing
7,16.0,51421b25fdc9f0492600840a,51414717fdc9f04926006993,0,48.099167,11.634823,-37.898205,145.116309,depressing
11,42.0,50f4351efdc9f065f0002b70,513d9d82fdc9f035870080cb,0,43.718643,-79.288744,-33.456354,-70.748903,depressing
13,44.0,513e5f6dfdc9f0358700b238,5140d7e5fdc9f049260038de,0,48.832606,2.383968,53.282692,-6.224454,depressing
18,49.0,513e6113fdc9f0358700b4c9,50f4349afdc9f065f0002a39,0,48.788970,2.345116,43.721041,-79.647358,depressing

In [49]:
data=data.drop(data.columns[0], axis=1)

In [50]:
data.head()

,left_id,right_id,winner,left_lat,left_long,right_lat,right_long,category
1,50f60c4dbeb2fed91000028d,513cb652fdc9f03587000a1e,1,45.505837,-122.583705,29.752872,-95.298844,depressing
7,51421b25fdc9f0492600840a,51414717fdc9f04926006993,0,48.099167,11.634823,-37.898205,145.116309,depressing
11,50f4351efdc9f065f0002b70,513d9d82fdc9f035870080cb,0,43.718643,-79.288744,-33.456354,-70.748903,depressing
13,513e5f6dfdc9f0358700b238,5140d7e5fdc9f049260038de,0,48.832606,2.383968,53.282692,-6.224454,depressing
18,513e6113fdc9f0358700b4c9,50f4349afdc9f065f0002a39,0,48.788970,2.345116,43.721041,-79.647358,depressing

In [52]:
len(data)

64107

In [1]:
import pandas as pd 
data = pd.read_csv('depressing_data.csv')
data.shape

(64107, 8)

In [2]:
N = len(data)
train_num = 51286  #80%
test_num = N - 51286
traindf = data.iloc[ :51286,:]
testdf = data.iloc[51286:,:]

In [3]:
print(traindf.shape)
print(testdf.shape)

(51286, 8)
(12821, 8)

In [4]:
traindf.to_csv('depressing_train.csv', index=False)
testdf.to_csv('depressing_test.csv', index=False)