In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('depressing.csv')

In [3]:
data.shape

(132467, 9)

In [4]:
data.head()

,Unnamed: 0,left_id,right_id,winner,left_lat,left_long,right_lat,right_long,category
0,1,513d7e23fdc9f0358700733a,513d7ac3fdc9f0358700693f,equal,40.744156,-73.935579,-33.526384,-70.591309,depressing
1,2,50f60c4dbeb2fed91000028d,513cb652fdc9f03587000a1e,right,45.505837,-122.583705,29.752872,-95.298844,depressing
2,3,513d9ff9fdc9f0358700887c,513cd544fdc9f03587001efc,left,33.747093,-84.289843,-33.930831,18.406321,depressing
3,12,5185cf07fdc9f03fd5000ebd,51422806fdc9f04926008700,equal,45.562421,-73.539947,40.066826,-75.183961,depressing
4,13,50f5e6fefdc9f065f0006eb2,513d6d7efdc9f0358700516c,equal,-23.631807,-46.714255,39.754777,-104.871981,depressing

In [5]:
for col in data.columns:
    print(col)

Unnamed: 0
left_id
right_id
winner
left_lat
left_long
right_lat
right_long
category

In [7]:
data=data.drop('Unnamed: 0', axis='columns')

In [8]:
data.head()

,left_id,right_id,winner,left_lat,left_long,right_lat,right_long,category
0,513d7e23fdc9f0358700733a,513d7ac3fdc9f0358700693f,equal,40.744156,-73.935579,-33.526384,-70.591309,depressing
1,50f60c4dbeb2fed91000028d,513cb652fdc9f03587000a1e,right,45.505837,-122.583705,29.752872,-95.298844,depressing
2,513d9ff9fdc9f0358700887c,513cd544fdc9f03587001efc,left,33.747093,-84.289843,-33.930831,18.406321,depressing
3,5185cf07fdc9f03fd5000ebd,51422806fdc9f04926008700,equal,45.562421,-73.539947,40.066826,-75.183961,depressing
4,50f5e6fefdc9f065f0006eb2,513d6d7efdc9f0358700516c,equal,-23.631807,-46.714255,39.754777,-104.871981,depressing

In [9]:
unique = data.copy()

In [12]:
unique = unique.drop('right_id', axis='columns')

In [15]:
unique.head()

,left_id,winner,left_lat,left_long,right_lat,right_long,category
0,513d7e23fdc9f0358700733a,equal,40.744156,-73.935579,-33.526384,-70.591309,depressing
1,50f60c4dbeb2fed91000028d,right,45.505837,-122.583705,29.752872,-95.298844,depressing
2,513d9ff9fdc9f0358700887c,left,33.747093,-84.289843,-33.930831,18.406321,depressing
3,5185cf07fdc9f03fd5000ebd,equal,45.562421,-73.539947,40.066826,-75.183961,depressing
4,50f5e6fefdc9f065f0006eb2,equal,-23.631807,-46.714255,39.754777,-104.871981,depressing

In [17]:
# unique = unique.drop('winner', axis='columns')
unique = unique.drop('right_lat', axis='columns')
unique = unique.drop('right_long', axis='columns')
unique = unique.drop('category', axis='columns')

In [19]:
right = data.copy()
right = right.drop('left_id', axis='columns')
right = right.drop('left_lat', axis='columns')
right = right.drop('left_long', axis='columns')
right = right.drop('category', axis='columns')
right.head()

                   right_id winner  right_lat  right_long
0  513d7ac3fdc9f0358700693f  equal -33.526384  -70.591309
1  513cb652fdc9f03587000a1e  right  29.752872  -95.298844
2  513cd544fdc9f03587001efc   left -33.930831   18.406321
3  51422806fdc9f04926008700  equal  40.066826  -75.183961
4  513d6d7efdc9f0358700516c  equal  39.754777 -104.871981

In [20]:
right = right.drop('winner', axis='columns')

In [21]:
right.head()

                   right_id  right_lat  right_long
0  513d7ac3fdc9f0358700693f -33.526384  -70.591309
1  513cb652fdc9f03587000a1e  29.752872  -95.298844
2  513cd544fdc9f03587001efc -33.930831   18.406321
3  51422806fdc9f04926008700  40.066826  -75.183961
4  513d6d7efdc9f0358700516c  39.754777 -104.871981

In [22]:
unique.columns = ['id','lat','long']
right.columns = ['id','lat','long']

In [23]:
unique.head()

                         id        lat        long
0  513d7e23fdc9f0358700733a  40.744156  -73.935579
1  50f60c4dbeb2fed91000028d  45.505837 -122.583705
2  513d9ff9fdc9f0358700887c  33.747093  -84.289843
3  5185cf07fdc9f03fd5000ebd  45.562421  -73.539947
4  50f5e6fefdc9f065f0006eb2 -23.631807  -46.714255

In [24]:
right.head()

                         id        lat        long
0  513d7ac3fdc9f0358700693f -33.526384  -70.591309
1  513cb652fdc9f03587000a1e  29.752872  -95.298844
2  513cd544fdc9f03587001efc -33.930831   18.406321
3  51422806fdc9f04926008700  40.066826  -75.183961
4  513d6d7efdc9f0358700516c  39.754777 -104.871981

In [25]:
con = [unique,right]
all_images = pd.concat(con)

In [26]:
print(unique.shape)
print(right.shape)
print(all_images.shape)

(132467, 3)
(132467, 3)
(264934, 3)

In [27]:
all_images.head()

                         id        lat        long
0  513d7e23fdc9f0358700733a  40.744156  -73.935579
1  50f60c4dbeb2fed91000028d  45.505837 -122.583705
2  513d9ff9fdc9f0358700887c  33.747093  -84.289843
3  5185cf07fdc9f03fd5000ebd  45.562421  -73.539947
4  50f5e6fefdc9f065f0006eb2 -23.631807  -46.714255

In [28]:
all_images.sort_values("id", inplace = True) 
all_images.drop_duplicates(subset ="id", inplace = True)

In [29]:
all_images.shape

(102932, 3)

In [30]:
all_images.to_csv('all_depressing_images.csv')